### Question 1

Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5,
between 2000 and 3200 (both included).
<br>The numbers obtained should be printed in a comma-separated sequence on a single line.

In [2]:
l=[]
for i in range(2000, 3201):
    if (i%7==0) and (i%5!=0):
        l.append(str(i))

print(','.join(l))

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

### Question 2

Write a program which can compute the factorial of a given numbers.
The results should be printed in a comma-separated sequence on a single line.

Suppose the following input is supplied to the program:
<br>8
<br>Then, the output should be:
<br>40320

In [6]:
def fact(x):
    if x == 0:
        return 1
    return x * fact(x - 1)

x=int(input())
print(fact(x))

8
40320

### Question 3


With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary.

Suppose the following input is supplied to the program:
<br>8
<br>Then, the output should be:
<br>{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [7]:
n=int(input())
d=dict()
for i in range(1,n+1):
    d[i]=i*i

print(d)

8
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

### Question 4

Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number.

Suppose the following input is supplied to the program:
<br>34,67,55,33,12,98

Then, the output should be:
<br>['34', '67', '55', '33', '12', '98']
<br>('34', '67', '55', '33', '12', '98')

In [8]:
values=input()

l=values.split(",")
t=tuple(l)

print(l)
print(t)

34,67,55,33,12,98
['34', '67', '55', '33', '12', '98']
('34', '67', '55', '33', '12', '98')

### Question 5

Define a class which has at least two methods:
getString: to get a string from console input
printString: to print the string in upper case.
Also please include simple test function to test the class methods.

In [11]:
class InputOutString(object):
    def __init__(self):
        self.s = ""

    def getString(self):
        self.s = input()

    def printString(self):
        print(self.s.upper())

strObj = InputOutString()
strObj.getString()
strObj.printString()

This is sample string
THIS IS SAMPLE STRING

## Question 6

Write a program that calculates and prints the value according to the given formula:
Q = Square root of [(2 * C * D)/H]

Following are the fixed values of C and H:
<br>C is 50. H is 30.
<br>D is the variable whose values should be input to your program in a comma-separated sequence.

Example
<br>Let us assume the following comma separated input sequence is given to the program:
<br>100,150,180
<br>The output of the program should be:
<br>18,22,24

In [13]:
import math
c=50
h=30
value = []
items=[x for x in input().split(',')]
for d in items:
    value.append(str(int(round(math.sqrt(2*c*float(d)/h)))))

print(','.join(value))

100,150,180
18,22,24

### Question 7

Write a program which takes 2 digits, X,Y as input and generates a 2-dimensional array. The element value in the i-th row and j-th column of the array should be i*j.

Note: i=0,1.., X-1; j=0,1,¡­Y-1.

Example

Suppose the following inputs are given to the program:
<br>3,5
<br>Then, the output of the program should be:
<br>[[0, 0, 0, 0, 0], [0, 1, 2, 3, 4], [0, 2, 4, 6, 8]]

In [14]:
input_str = input()

dimensions=[int(x) for x in input_str.split(',')]

rowNum=dimensions[0]
colNum=dimensions[1]

multilist = [[0 for col in range(colNum)] for row in range(rowNum)]

for row in range(rowNum):
    for col in range(colNum):
        multilist[row][col]= row*col

print(multilist)

3,5
[[0, 0, 0, 0, 0], [0, 1, 2, 3, 4], [0, 2, 4, 6, 8]]

### Question 8

Write a program that accepts a comma separated sequence of words as input and prints the words in a comma-separated sequence after sorting them alphabetically.

Suppose the following input is supplied to the program:
<br>without,hello,bag,world
<br>Then, the output should be:
<br>bag,hello,without,world

In [16]:
items=[x for x in input().split(',')]
items.sort()
print(','.join(items))

without,hello,bag,world
bag,hello,without,world

### Question 9

Write a program that accepts sequence of lines as input and prints the lines after making all characters in the sentence capitalized.

Suppose the following input is supplied to the program:<br>
<br>
Hello world
<br>
Practice makes perfect

Then, the output should be:

HELLO WORLD<br>
PRACTICE MAKES PERFECT

In [18]:
lines = []

while True:
    s = input()
    if s:
        lines.append(s.upper())
    else:
        break;

for sentence in lines:
    print(sentence)

Hello world
practice makes perfect

HELLO WORLD
PRACTICE MAKES PERFECT

### Question 10

Write a program that accepts a sequence of whitespace separated words as input and prints the words after removing all duplicate words and sorting them alphanumerically.

Suppose the following input is supplied to the program:
<br>hello world and practice makes perfect and hello world again
<br>Then, the output should be:
<br>again and hello makes perfect practice world

In [20]:
s = input()
words = [word for word in s.split(" ")]
print (" ".join(sorted(list(set(words)))))

hello world and practice makes perfect and hello world again
again and hello makes perfect practice world

### Question 11

Write a program which accepts a sequence of comma separated 4 digit binary numbers as its input and then check whether they are divisible by 5 or not. The numbers that are divisible by 5 are to be printed in a comma separated sequence.

Example:
<br>0100,0011,1010,1001
<br>Then the output should be:
<br>1010
<br>Notes: Assume the data is input by console.

In [22]:
value = []
items=[x for x in input().split(',')]
for p in items:
    intp = int(p, 2)
    if not intp%5:
        value.append(p)

print(','.join(value))

0100,0011,1010,1001
1010

### Question 12

Write a program, which will find all such numbers between 1000 and 3000 (both included) such that each digit of the number is an even number.

The numbers obtained should be printed in a comma-separated sequence on a single line.

In [26]:
values = []

for i in range(1000, 3001):
    s = str(i)
    if (int(s[0])%2==0) and (int(s[1])%2==0) and (int(s[2])%2==0) and (int(s[3])%2==0):
        values.append(s)
print (",".join(values))

2000,2002,2004,2006,2008,2020,2022,2024,2026,2028,2040,2042,2044,2046,2048,2060,2062,2064,2066,2068,2080,2082,2084,2086,2088,2200,2202,2204,2206,2208,2220,2222,2224,2226,2228,2240,2242,2244,2246,2248,2260,2262,2264,2266,2268,2280,2282,2284,2286,2288,2400,2402,2404,2406,2408,2420,2422,2424,2426,2428,2440,2442,2444,2446,2448,2460,2462,2464,2466,2468,2480,2482,2484,2486,2488,2600,2602,2604,2606,2608,2620,2622,2624,2626,2628,2640,2642,2644,2646,2648,2660,2662,2664,2666,2668,2680,2682,2684,2686,2688,2800,2802,2804,2806,2808,2820,2822,2824,2826,2828,2840,2842,2844,2846,2848,2860,2862,2864,2866,2868,2880,2882,2884,2886,2888

### Question 13

Write a program that accepts a sentence and calculate the number of letters and digits.
<br>Suppose the following input is supplied to the program:
<br>hello world! 123
<br>Then, the output should be:
<br>LETTERS 10
<br>DIGITS 3

In [27]:
s = input()

d={"DIGITS":0, "LETTERS":0}
for c in s:
    if c.isdigit():
        d["DIGITS"]+=1
    elif c.isalpha():
        d["LETTERS"]+=1
    else:
        pass
print ("LETTERS", d["LETTERS"])
print ("DIGITS", d["DIGITS"])

hello world! 123
LETTERS 10
DIGITS 3

### Question 14

Write a program that accepts a sentence and calculate the number of upper case letters and lower case letters.
<br>Suppose the following input is supplied to the program:
<br>Hello world!
<br>Then, the output should be:
<br>UPPER CASE 1
<br>LOWER CASE 9

In [30]:
s = input()
d={"UPPER CASE":0, "LOWER CASE":0}
for c in s:
    if c.isupper():
        d["UPPER CASE"]+=1
    elif c.islower():
        d["LOWER CASE"]+=1
    else:
        pass
print ("UPPER CASE", d["UPPER CASE"])
print ("LOWER CASE", d["LOWER CASE"])

Hello world!
UPPER CASE 1
LOWER CASE 9

### Question 15

Write a program that computes the value of a+aa+aaa+aaaa with a given digit as the value of a.
<br>Suppose the following input is supplied to the program:
<br>9
<br>Then, the output should be:
<br>11106

In [33]:
a = input()
n1 = int( "%s" % a )
n2 = int( "%s%s" % (a,a) )
n3 = int( "%s%s%s" % (a,a,a) )
n4 = int( "%s%s%s%s" % (a,a,a,a) )
print (n1+n2+n3+n4)

1
1234